.events-control {
    border: 2px dotted #4682B4;
    background: #e8f8f7;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 0.2rem 0 0;
    text-align: center;
    border-radius: 2rem;
    button {
        margin-left: 1rem;
    }
}

.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}
